<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/bigdataSNA.jpg"
            level-id="bigdataSNA"
            name="bigdata Social Network Analysis"
            path="/"/>
   </extension>

   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/bigdataSNA"
            factory-class="org.fieldstar.bigdataSNA.CommunityDetectionNodeFactory"
            id="org.fieldstar.bigdataSNA.CommunityDetectionNodeFactory"/>
   </extension>
   
</plugin>
